<!DOCTYPE html>
<html>
  <head>
    <title>Music App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Music App</h1>
    <a class='button'  href="<%=bands_url%>">Homepage</a>

    <br>
    <br>

    <%  if logged_in? %>
      <p> Welcome <%= current_user.email %> </p>
      <form action="<%=session_url%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
        <input type="submit" value="Sign Out">
      </form>
    <% else %>
      <a class 'button' href=<%= new_user_url %>>Sign Up</a>
      <br>
      <a class 'button' href=<%= new_session_url %>>Sign In</a>
    <% end %>


    <%= yield %>
  </body>
</html>
